* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
main {
    padding: 20px;
    width: 50%;
    height: 200vh;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
div {
    background-color: rgb(181, 210, 238);
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
p {
    display: flex;
    text-align: center;
}
h1 {
    color: rgb(209, 17, 151);
}
h2 {
    color: blue;
}

section {
        margin-top: 100px;
        background-color: rgb(77, 214, 134);
        width: 70%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
    p {
        display: flex;
        text-align: center;
    }
    h1 {
        color: rgb(231, 56, 25);
    }
    h2 {
        color: rgb(170, 22, 103);
    }
}

footer {
        margin-top: 100px;
        background-color: rgb(77, 182, 214);
        width: 70%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
    p {
        display: flex;
        text-align: center;
    }
    h1 {
        color: rgb(231, 210, 25);
    }
    h2 {
        color: rgb(22, 170, 47);
    }
}